{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <div class="logout">
        <p>  <a class='link-button' href="{{ path('clients') }}">back to list</a> </p>
    </div>
    <button class="btn text-center " id='homebutton'>MyEnesi </button>
    <div class="my-card m-3 p-2">
        <h2>Create new Client</h2>
        {{ include('client/_form.html.twig') }} 
    </div>
{% endblock %}
