{{ form_start(form ,{attr:{class: 'filter d-flex flex-row mb-5'}}) }}
    {{ form_row(form.q ,{attr:{class: 'h-100'}}) }}
 
    <button type='submit' class="btn btn btn-success text-center d-inline">Cerca</button>
{{ form_end(form) }}