{{ form_start(form ,{attr:{class: 'filter d-flex flex-row mb-5'}}) }}
    {{ form_row(form.q ,{attr:{class: 'w-100, h-100'}}) }}
 
    <button type='submit' class="tablebutton d-inline">Cerca</button>
{{ form_end(form) }}