{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <div class="logout">
        <p>  <a class='link-button' href="{{ path('order') }}">back to list</a> </p>
    </div>
    <div class="my-card m-3 p-2">
        <h2>Create new Order</h2>
        {{ include('order/_form.html.twig') }}  
    </div>
{% endblock %}
