{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    
   
<div class='prova'>
    <a href="{{ path('users') }}">
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Vedi i dipendenti</p>
            </div>
        </div>
    </a> 
    <a href="{{ path('products') }}">
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Vedi i prodotti</p>
            </div>
        </div>
    </a> 
    <a href="{{ path('clients') }}">
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">aggiungi clienti</p>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">crea un ordine</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}
