{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
        <div class="logout">
            <p>  <a class='link-button' href="{{ path('users') }}">back to list</a> </p>
        </div>
        <div class="my-card m-3 p-2">
            <h2 class="text-center">Crea dipendente</h2>
            {{ include('user/_form.html.twig') }}
            
        </div>
  
{% endblock %}
